@require 'fonts.styl'
@require 'variables.styl'
@require 'smartgrid.styl'

body
  margin 0
  font-size 20px
  min-width 320px
  background-color $COLOR_BG
  font-family $FONT_MAIN

  main
    margin-bottom 40px

  video
  img
    max-width 100%
    height auto

  a
    color inherit

  .second-font
    font-family $FONT_SECOND
    font-weight 700

  .wrapper
    wrapper()
